In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.set_option("display.max_columns", None)

In [4]:
train_data = pd.read_excel("data/Data_Train.xlsx")
train_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [5]:
train_data['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [6]:
train_data['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [7]:
airline_dict = {
    'IndiGo':0,
    'Air India':1,
    'Jet Airways':2,
    'SpiceJet':3,
    'Multiple carriers':4,
    'GoAir':5,
    'Vistara':6,
    'Air Asia': 7,
    'Vistara Premium economy': 8,
    'Jet Airways Business' : 9,
    'Multiple carriers Premium economy' : 10,
    'Trujet': 11
    }
train_data.replace({"Airline": airline_dict}, inplace=True)

In [8]:
train_data['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [9]:
train_data.dropna(inplace=True)

In [10]:
stops = {
    'non-stop':0,
    '2 stops': 1,
    '1 stop': 2,
    '3 stops': 3,
    '4 stops': 4
}
train_data.replace({'Total_Stops': stops}, inplace=True)

In [11]:
train_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,0,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,0,No info,3897
1,1,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,1,No info,7662
2,2,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,1,No info,13882
3,0,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,2,No info,6218
4,0,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,2,No info,13302

In [12]:
def convert(duration):
    hour = ''
    minute = ''
    for i in duration[:2]:
        if i != 'h' and i != 'm':
            hour += i
    for i in duration[2:]:
        if i != 'h' and i != 'm':
            minute += i
    if len(hour)==0:
        hour = 0
    if len(minute) ==0:
        minute = 0
    return (int(hour)*60+int(minute))

In [13]:
duration_in_mins=train_data["Duration"].apply(convert)

In [14]:
train_data["Duration Minute"] = duration_in_mins

In [15]:
train_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Duration Minute
0,0,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,0,No info,3897,170
1,1,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,1,No info,7662,445
2,2,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,1,No info,13882,1140
3,0,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,2,No info,6218,325
4,0,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,2,No info,13302,285

In [16]:
train_data.drop(['Date_of_Journey', 'Destination', 'Source', 'Route', 'Dep_Time', 'Arrival_Time', 'Duration', 'Additional_Info'], axis=1, inplace=True)

In [17]:
train_data.head()

   Airline  Total_Stops  Price  Duration Minute
0        0            0   3897              170
1        1            1   7662              445
2        2            1  13882             1140
3        0            2   6218              325
4        0            2  13302              285

In [18]:
from sklearn.model_selection import train_test_split
X = train_data.drop(['Price'], axis=1)
y = train_data['Price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [19]:
X_train[:5]

      Airline  Total_Stops  Duration Minute
5942        1            1              710
5306        0            0              180
4903        1            1             1470
6340        3            0               85
8644        3            0              135

In [20]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

2022-12-15 23:13:20.729916: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-12-15 23:13:20.730017: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [21]:
# model = Sequential([
#     Dense(1)
# ])
# model.compile(loss = tf.keras.losses.MAE, optimizer=tf.keras.optimizers.SGD(), metrics=['mae'])

In [22]:
from sklearn.ensemble import *
clf = RandomForestRegressor()
clf.fit(X_train, y_train)

RandomForestRegressor()

In [23]:
y_pred = clf.predict(X_test)
y_pred

array([10501.83257067,  6609.49909137, 10912.61759875, ...,
        6999.39929306, 10814.2897624 ,  7038.17062285])

In [24]:
import joblib
joblib.dump(clf, 'model.joblib')

['model.joblib']